## Date:21/9/19
### Conditional Statements:

        simple if 
        if-else
        else if
        nested if

### Simple if

In [2]:
a=10
if a==10:
    print("true")

true

### if else

In [3]:
a=10
if a==10:
    print("true")
else:
    print("False")

true

### Else if

In [9]:
a=5;b=10;c=15
if a<b and a<c:
    print(a," is smallest number",a)
elif b<a and b<c:
    print("b is smallest number",b)
else:
    print("c is the smallest number",c)

5  is smallest number 5

### Nested if

In [10]:
if a>b:
    if a>c:
        print("a is the largest number")
elif b>c:
    print("b is the largest number")
else:
    print("c is the largest number")

c is the largest number

## Loops statements:

        About While loop and Examples
        About For loop and Examples

### For loop

In [ ]:
for temp_var in sequence

In [11]:
for i in 1,2,3:
    print(i)

1
2
3

In [12]:
for i in range(1,20,10):
    print(i)

1
11

In [14]:
str1="Prasu"
for i in str1:
    print(i,end=" ")

P r a s u

### While loop

In [18]:
n=1
while n<=5:
    print(n)
    n=n+1

1
2
3
4
5

In [25]:
n=10
for i in range(1,n):
    if i==2:
        continue
    print(i)
    if i==5:
        break
    print(i)

1
1
3
3
4
4
5

## List Concept:

    Introduction about list
    list indexing
    list Slicing
    functions on lists
        len
        min
        max
        sorted
        sum
    list methods
    list example programs

* List is mutable means we can change the data
* Denoted as List -[ ]
* List can have different data types

### List indexing

In [42]:
l1=[1,2,3]
print(type(l1))
l2=[1,2,3,"Hello",2.7]
print(type(l2))
l3=[1,2,[3,4]]
print(type(l3))
print(l3[0])
print(l3[2])
print(l3[2][0])

<class 'list'>
<class 'list'>
<class 'list'>
1
[3, 4]
3

### List Slicing

In [43]:
l3[0:]

[1, 2, [3, 4]]

In [51]:
l3=[1,2,3,4,5]
print(l3[1::3])
print(l3[::-1])
print(l3[-2:-5:-2])

[2, 5]
[5, 4, 3, 2, 1]
[4, 2]

In [66]:
a="sri padmavathi mahila university"
b=a.split()
c=a.split("a")
print(b)
print(c)
print("a".join(c))
print("@".join(a))
print(type(b))

['sri', 'padmavathi', 'mahila', 'university']
['sri p', 'dm', 'v', 'thi m', 'hil', ' university']
sri padmavathi mahila university
s@r@i@ @p@a@d@m@a@v@a@t@h@i@ @m@a@h@i@l@a@ @u@n@i@v@e@r@s@i@t@y
<class 'list'>

## functions on lists

    len
    min
    max
    sorted
    sum

In [75]:
l=[10,45,25,65]
print(len(l))
print(min(l))
print(max(l))
print(sorted(l))
print(sorted(l,reverse=True))
print(sum(l))

4
10
65
[10, 25, 45, 65]
[65, 45, 25, 10]
145

In [76]:
l1=[10,34,65]
l1[0]=21
print(l1)

[21, 34, 65]

In [77]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [78]:
l1

[21, 34, 65]

In [80]:
l1.append(1)
l1

[21, 34, 65, 1, 1]

In [82]:
l1.clear()
l1

[]

In [146]:
l=[1,2,3,34,2]
li=l.copy()
li

[1, 2, 3, 34, 2]

In [147]:
print(l.count(2))
print(l.index(2))
l.insert(2,32)
print(l)
print(l.pop(0))#pop(index)
l.remove(32)#remove(value)
print(l)

2
1
[1, 2, 32, 3, 34, 2]
1
[2, 3, 34, 2]

In [149]:
l=[1,4,5,2]
print(sorted(l,reverse=True))
print(sorted(l,reverse=False))

[5, 4, 2, 1]
[1, 2, 4, 5]

## Tasks

### Check the given year is a Leap year or not

In [228]:
y=int(input("Enter a year"))
if y%400==0:
     print(y,"is a leap year")
elif y%4==0 and y%100!=0:
    print(y,"is a leap year")
else:
    print(y,"is not a leap year")

Enter a year2016
2016 is a leap year

###  Check if the number exist in a given range (inputs: number(n), range(lower number and upper number)

In [160]:
n=int(input("Enter a number"))
low=int(input("Enter lower number"))
high=int(input("Enter upper number"))
for i in range(low,high+1):
    if i==n:
        print(n,"is in the range")

Enter a number2
Enter lower number1
Enter upper number8
2 is in the range

### Check the number of digits in a given number

In [159]:
n=int(input("Enter a number"))
c=0
while n!=0:
    r=n%10
    c=c+1
    n=round(n/10)
print(c)

Enter a number12334
5

### Calculate the square root of a given number

In [164]:
n=int(input("Enter a number"))
sq=n*(1/2)
print(sq)

Enter a number16
8.0

### Program to print the pyramid pattern in python using for loop.

In [229]:
n=int(input("Enter number of steps"))
for i in range(1,n+1):
    for j in range(1,i):
         print("*")

Enter number of steps3
*

*

*

### Read the given string that contains alphanumeric values. Print all even number, all odd numbers and alphabets separately.

In [4]:
s=input("Enter a string ")
c=""
o=""
for i in s:
    if i.isalpha():
        print(i,end="")
    else:
        if int(i)%2==0:
            c=c+i
        else:
            o=o+i
print("\n",c,end=" ")
print("\n",o,end=" ")

Enter a string hell123
hell
 2
 13

### Iterate the integers from 1 to 50, for multiples of 3 print “Fizz” and for multiples of 5 print “Buzz” and for multiples of both 3 and 5 print “FizzBuzz”.

In [176]:
for i in range(1,51):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    if i%3==0:
        print("Fizz",i)
    if i%5==0:
        print("Buzz",i)

Fizz 3
Buzz 5
Fizz 6
Fizz 9
Buzz 10
Fizz 12
FizzBuzz
Fizz 15
Buzz 15
Fizz 18
Buzz 20
Fizz 21
Fizz 24
Buzz 25
Fizz 27
FizzBuzz
Fizz 30
Buzz 30
Fizz 33
Buzz 35
Fizz 36
Fizz 39
Buzz 40
Fizz 42
FizzBuzz
Fizz 45
Buzz 45
Fizz 48
Buzz 50

### Print n Natural Numbers using while loop.

In [188]:
n=int(input("Enter a number "))
p=1
while p<=n:
    print(p)
    p=p+1

Enter a number 13
1
2
3
4
5
6
7
8
9
10
11
12
13

### Program print n number of iterations using while loop with if statement.

In [190]:
n=int(input("Enter a number "))
p=1
while p<=n:
    if p!=0:
        print(p)
        p=p+1

Enter a number 4
1
2
3
4

### Take a list of elements and add that list into another empty list

In [194]:
l=[1,2,3,4]
li=[]
li=l.copy()
li

[1, 2, 3, 4]

### Sort the list of elements in ascending order and descending order.

In [196]:
l=[29,354,65,45,65]
print(sorted(l))
print(sorted(l,reverse=True))

[29, 45, 65, 65, 354]
[354, 65, 65, 45, 29]

### Given a two list of equal size create a set such that it shows the element from both lists in the pair.

In [214]:
l1=[1,2,3,4]
l2=[5,6,7,8]
le=len(l1)
for i in range(0,le):
    for j in range(0,le):
        print(l1[i],l2[j])

1 5
1 6
1 7
1 8
2 5
2 6
2 7
2 8
3 5
3 6
3 7
3 8
4 5
4 6
4 7
4 8

### Write a python program to print the sum and average of elements in the list.

In [218]:
l=[1,2,3,4,5,6]
s=len(l)
su=sum(l)
ave=su/s
print(ave)

3.5