### Dictionary Comprehension

In [14]:
l1=[1,2,3,4,5,6]
l2=[i**2 for i in l1]
d={val:val**2 for val in l1}
l2,d2

([1, 4, 9, 16, 25, 36],
 {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant'})

In [10]:
s="apple ball cat dog elephant"
d2={word[0]:word for word in s.split()}
d2

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant'}

In [11]:
d3={word[0]:word.capitalize() for word in s.split()}
d3

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Elephant'}

In [12]:
l1

[1, 2, 3, 4, 5, 6]

In [15]:
l2

[1, 4, 9, 16, 25, 36]

In [17]:
print(l1)
s2="one two three four five"
s2

[1, 2, 3, 4, 5, 6]

'one two three four five'

In [21]:
list(zip(l1,s2.split()))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [24]:
{key:value for key,value in zip(l1,s2.split())}

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

### Tuple Comprehensions


◾Introduction about tuple comprehension
1.how to create tuple comprehensions
2.how to iterate over items in tuple
3.example programs on tuple comprehensions

In [26]:
tuple(val**2 for val in l1)

(1, 4, 9, 16, 25, 36)

### calculate the sum of first n values

In [28]:
n=int(input())
sum(tuple( v for v in range(1,n+1)))

5

15

In [32]:
n=int(input())
sum([v for v in range(1,n+1) if v%2==0])

10

30

In [34]:
n=int(input())
sum(tuple(v for v in range(1,n+1) if v%2==0))

10

30

### Tasks

#### 1.Take two list of same length as input and return a dictionary with one as keys and other as values. 

#### ◾country = ['India', 'Pakistan', 'Nepal', 'Bhutan', 'China', 'Bangladesh']
#### ◾capital = ['New Delhi', 'Islamabad','Kathmandu', 'Thimphu', 'Beijing', 'Dhaka']
#### Output :  {'India': 'New Delhi','Pakistan': 'Islamabad','Nepal':'Kathmandu','Bhutan': 'Thimphu','China': 'Beijing','Bangladesh': 'Dhaka'}

In [3]:
country=['India', 'Pakistan', 'Nepal', 'Bhutan', 'China', 'Bangladesh']
capital = ['New Delhi', 'Islamabad','Kathmandu', 'Thimphu', 'Beijing', 'Dhaka']
#list(zip(country,capital))
{k:v for k,v in zip(country,capital)}

{'India': 'New Delhi',
 'Pakistan': 'Islamabad',
 'Nepal': 'Kathmandu',
 'Bhutan': 'Thimphu',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka'}